#formdatos img{
	float: left;
	width: 200px;
	border-radius: 5px;
	margin: 0px 25px;
}

#formdatos fieldset{
	float: left;
	padding: 12px;
	margin-down: 10px;
	margin-right: 10px;
	width: 25%;
	height: 320px;
}

#formdatos form{
	width: 1200px;
	height: 700px;
	border-radius: 15px;
	padding: 22px;
	margin: auto;
	background-color: rgba(76, 76, 76, 1.0);
	box-shadow: 10px 10px 112px 0px rgba(0, 0, 0, 0.75);
}

.b1{
	background-color: #2C3E50;
	color: white;	
	font-size: 17px;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 60%;
}